html{
  min-height: 100%;
  position:relative;
}

body{
  background: gray
}

#question{
  text-align: center;
  font-family: 'Lucida Sans';
  font-size: 30px;
  color:white;
}

.hide-me{
  visibility: hidden;
}
.visible{
  visibility: visible;
}

#message{
  size: 30px;
  color: red;
}
.radioButton{
  vertical-align: middle;
  margin-top: -1
}
.look{
  size: 100px
}

#radiochoices{
  color: white;
  text-align: center
}

.window{
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  background: #1B1B1D;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.65), 0 10px 24px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

#name{
  color:white;
  font-size:25px;
}